body{
    background-image: white
    
}
@keyframes fon{
    from {
        background-size: 200%;
    }
    to{
        background-size: 100%;
    }
}
.banner{
    animation-name:fon;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 1200px;
    height: 628px;
    margin: auto;
    margin-top: 2%;
    background-image: url(../images/1.jpg);
    border: 1px solid white;
    padding: 30px;
    box-sizing: border-box;
    font-size: 25px;
    color: black;
    font-family: Arial;
    overflow: hidden;
}
.banner-name{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.custom-btn1 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .assortiment {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
    margin-right: 40px;
  }
    .assortiment:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
  }
  .assortiment:before,
  .assortiment:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .assortiment:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .assortiment:hover:before,
  .assortiment:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  .custom-btn2 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .sales {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .sales:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .sales:before,
  .sales:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .sales:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .sales:hover:before,
  .sales:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

@keyframes text1{
    from {
        font-size: 0pt;
    }
    to{
        font-size: 18pt;
    }
}
@keyframes text2{
    from {
        font-size: 0pt;
    }
    to{
        font-size: 18pt;
    }
}
@keyframes cost{
    from {
        font-size: 0pt;
    }
    70%{
        font-size: 45pt;
    }
    to{
        font-size: 40pt;
    }
}
@keyframes butt{
    from {
        
    }
    
    to{
        left: 0px;
    }
}

.banner-description{
    animation-name: text1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;

}
.price{
    animation-name: cost;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}
.buttons {
    display: flex;
    align-items: flex-end;
}
.buttons{
    animation-name: butt;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

.container{
    height: 100px;
    display: flex;
    align-items: center;
}
.form{
    width: 400px;
    padding: 10px 30px 20px;
    margin: -170px 10px 10px auto;
    background: rgba(26,25,25,0.3);
    backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255,255,255,0.3);
}
h1{
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.data_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    margin-top: 20px;
}
input{
    background: transparent;
    height: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    padding-left: 25px;
    font-size: 15px;
    color: #fff;
}
input::placeholder{
    font-size: 15px;
    color: grey;
}
input:focus::placeholder{
    color: white;
}
input :focus{
    outline: none;
}
.name{
    width: 100%;
}
.mail{
    width: 40%;
}
.phone{
    width: 40%;
}
.text_area{
    margin-top: 30px;
    border: 1px solid#fff;
    border-radius: 13px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
.message{
    font-size: 15px;
    color: white;
}
textarea{
    margin-top: 10px;
    background: transparent;
    border: none;
    font-size: 15px;
    color: white;
}
textarea:focus ::placeholder{
    color: black;
}
textarea:focus{
    outline: none;
}
.send{
    width: 100%;
    text-align: right;
}
button{
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
}